@{
    ViewData["Title"] = "Esqueci minha senha";
}


<h1>Esqueci minha senha</h1>

<script type="text/javascript">
    function enviarDados(event) {
        event.preventDefault();

        let email = document.getElementById('inpEmail').value;

        if (!email) {
            alert('preencher email')
            return;
        }

        fetch(`/Autenticacao/EsqueciSenha?email=${email}`, null)
            .then(function (res) {

                switch (res.status) {
                    case 400:
                        alert('Email nao encontrado');
                        break;
                    default:
                        alert('Sucesso\nVerifique seu e-mail.')
                        break;
                }
            })
            .catch(function (res) { console.log(`Erro: ${res}`) })
    }
</script>

<section id="registrar">
    <form onsubmit="enviarDados(event)" style="max-width: 35%">
        <div class="form-group">
            <label>Email</label>
            <input type="email" id="inpEmail" class="form-control" name="email" value="" />
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</section>

